@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

html
{
background-color: #fcffe7;
font-family: 'Lexend Deca', sans-serif;
}

#grid
{
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid black;
}


#main 
{
    position: absolute;
    width: 95%;
    aspect-ratio: 1/1;
    top: 5%;
    left: 10%;
    background-color: rgb(123, 239, 27);
}
#buttonDiv 
{
    /* border-color: blue; */
    top: 0%;
    position:absolute;
    width: 100%;
    height: 8%;
}
 .mark
 {
    position:absolute;
    width: 10%;
    height: 10%;
    z-index: 1;
    
 }
 #x_r1c1
{
    top: 15%;
    left: 18%;
}
 #x_r1c2
{
    top: 15%;
    left: 44%;
}
 #x_r1c3
{
    top: 15%;
    left: 66%;
}
#x_r2c1
{
    top: 40%;
    left: 17%;
}
 #x_r2c2
{
    top: 40%;
    left: 42%;
}
 #x_r2c3
{
    top: 40%;
    left: 66%;
}

#x_r3c1
{
    top: 68%;
    left: 15%;
}
 #x_r3c2
{
    top: 68%;
    left: 40%;
}
 #x_r3c3
{
    top: 68%;
    left: 66%;
}
/* Layout "O's" */
 #o_r1c1
{
    top: 15%;
    left: 18%;
}
 #o_r1c2
{
    top: 15%;
    left: 44%;
}
 #o_r1c3
{
    top: 15%;
    left: 66%;
}
#o_r2c1
{
    top: 40%;
    left: 17%;
}
 #o_r2c2
{
    top: 40%;
    left: 42%;
}
 #o_r2c3
{
    top: 40%;
    left: 66%;
}

#o_r3c1
{
    top: 68%;
    left: 15%;
}
 #o_r3c2
{
    top: 68%;
    left: 40%;
}
 #o_r3c3
{
    top: 68%;
    left: 66%;
}

.click_div
{
    height: 100%;
    border: solid;
    border-color: black;
 }
 
.row
{
    border: solid;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    justify-content: center; */
    gap: 0;
    width: 75%;
    height: 23%;
    left: 10%;
}
#row1 
{
    /* border-color: blue; */
    top: 8%;
}
#r1c1
 {
    /* background-color: blueviolet;  */
    width: 31%;
    height: 100%;
 }
 #r1c2
 {
    /* background-color: rgb(226, 43, 61);  */
    width:32%;
 }
 #r1c3
 {
    /* background-color: rgb(89, 226, 43);  */
    width:32%;
 }
#row2 
{
    /* border-color: red; */
    position: absolute;
    top: 32%;
    height: 25%;
}
#r2c1 {
    /* background-color: blueviolet;  */
    width: 31%;
    height: 100%;
 }
 #r2c2 {
    /* background-color: rgb(226, 43, 61);  */
    width:32%;
 }
 #r2c3{
    /* background-color: rgb(89, 226, 43);  */
    width:32%;
 }
 #row3{
    /* border-color: green; */
    top: 59%;
    left: 8%;
    height: 28%
}
 #r3c1 {
    /* background-color: blueviolet;  */
    width: 31%;
    height: 100%;
 }
 #r3c2{
    /* background-color: rgb(226, 43, 61);  */
    width:30%;
    border-radius: 5px;
 }
 #r3c3{
    /* background-color: rgb(89, 226, 43);  */
    width:32%;
 }
.column{  
    flex-wrap: nowrap;
    /* border: solid; */
    width: 266px;
    height: 266px;
}